@theme {

  /* ==========================
      COLORS
  ========================== */

  --color-midnight: #08111F;
  --color-deep-navy: #10213E;
  --color-royal-blue: #18366D;
  --color-pixel-blue: #4C74D9;

  --color-retro-gold: #D8B35C;
  --color-golden-glow: #F0D17D;

  --color-ivory: #F5F1E8;
  --color-muted: #A8B2C8;

  --color-purple-glow: #5647A7;

}